<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd">

    <!-- Diretórios que fazem parte do código-fonte (para cobertura) -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!-- Suites de testes -->
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Configurações de ambiente PHP -->
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
